---
import config from "@/config/config.json";

const {
  call_to_action: {
    title,
    description
  },
} = config;
---

<section class="px-5 py-20 xl:py-[120px]">
  <div class="container">
    <div
      class="bg-gradient row justify-center rounded-b-[80px] rounded-t-[20px] px-[30px] pb-[75px] pt-16"
    >
      <div class="lg:col-11">
        <div class="row flex justify-between">
          <div class="col align-center justify-center">
            <h1 class="text-white text-center">50+</h1>
            <div class="text-white text-center mt-5">
             项目产品
            </div>
          </div>
          
          <div class="col align-center justify-center">
            <h1 class="text-white text-center">35+</h1>
            <div class="text-white text-center mt-5">
              服务客户
            </div>
          </div>

          <div class="col align-center justify-center">
            <h1 class="text-white text-center">5+</h1>
            <div class="text-white text-center mt-5">
              分布国家地区
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
